.flexColChild--banner-categories__cat-computers,
.flexColChild--banner-categories__cat-phones,
.flexColChild--banner-categories__cat-devices,
.flexColChild--banner-categories__cat-consoles,
.flexColChild--banner-categories__cat-bigApliances {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.flexRow--home__about-us {
  padding: 1rem;
  border-top: 2px solid #ccc;
}

.flexRow--footer__newsletter {
  padding: 1.5rem 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.flexRow--footer__row-2 {
  background-color: #efefef;
  padding: 1rem;
}

/* Product */
.flexRow--desktop__product--row {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.flexColChild--product__main--image-gallery {
  margin-right: 1rem;
}

.flexCol--product__main--summary {
  margin-left: 1rem;
}

/* Banner Brands */

.flexRow--home__banner-brands {
  padding: 1rem;
}