.paragraph--banner-categories__computers--title,
.paragraph--banner-categories__phones--title {
  position: absolute;
  transform: translate(-10%, -400%);
}

.paragraph--banner-categories__devices--title,
.paragraph--banner-categories__consoles--title {
  position: absolute;
  transform: translate(20%, -400%);
}

.paragraph--banner-categories__bigApliances--title {
  position: absolute;
  transform: translate(-20%, -225%);
}

.paragraph--desktop__about-us--content,
.paragraph--desktop__our-team--content{
  margin: 1rem;
}