
.flexRow--home__banner-categories {
  margin: 0 0 1rem 0;
}

.flexCol--banner-categories__computers {
  margin-right: 0.5rem;
  height: 100%;
}

.flexCol--banner-categories__phones {
  margin-left: 0.5rem;
  height: 100%;
}

.flexCol--banner-categories__devices {
  margin-right: 0.5rem;
  height: 100%;
}

.flexCol--banner-categories__consoles {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  height: 100%;
}

.flexCol--banner-categories__bigApliances {
  margin-left: 0.5rem;
  height: 100%;
}

.flexColChild--banner-categories__computers,
.flexColChild--banner-categories__phones,
.flexColChild--banner-categories__devices,
.flexColChild--banner-categories__consoles,
.flexColChild--banner-categories__bigApliances {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.flexRow--banner-categories__container-overlay {
  display: none;
  position: absolute;
  top: -286px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.flexCol--banner-categories__computers:hover .flexRow--banner-categories__container-overlay {
  display: block;
  opacity: 1;
}

.flexCol--banner-categories__phones:hover .flexRow--banner-categories__container-overlay  {
  display: block;
  opacity: 1;
}

.flexCol--banner-categories__devices:hover .flexRow--banner-categories__container-overlay  {
  display: block;
  opacity: 1;
}

.flexCol--banner-categories__consoles:hover .flexRow--banner-categories__container-overlay  {
  display: block;
  opacity: 1;
}

.flexCol--banner-categories__bigApliances:hover .flexRow--banner-categories__container-overlay  {
  display: block;
  opacity: 1;
}








.flexRow--home__about-us {
  padding: 1rem;
  border-top: 2px solid #ccc;
}

.flexRow--footer__newsletter {
  padding: 1.5rem 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.flexRow--footer__row-2 {
  background-color: #efefef;
  padding: 1rem;
}

/* Product */
.flexRow--desktop__product--row {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.flexColChild--product__main--image-gallery {
  margin-right: 1rem;
}

.flexCol--product__main--summary {
  margin-left: 1rem;
}

/* Banner Brands */

.flexRow--home__banner-brands {
  padding: 1rem;
}