.sliderLayoutContainer--global__default-sugested-product--slider {
  padding: 2%;
  margin: 0;
}

.sliderArrows--global__default-sugested-product--slider {
  padding: 0;
  margin: 0;
}
/* 
.paginationDotsContainer--global__default-sugested-product--slider {
  display: none;
} */