.paragraph {
  margin: 0.2rem;
  padding: 0.1rem;
}

.paragraph--desktop__header-1--select-location,
.paragraph--desktop__header-1--select-language {
  width: 8rem;
}


.paragraph--row-4__menu-categories,
.paragraph--row-4__menu-brands,
.paragraph--row-4__link-computers,
.paragraph--row-4__link-phones,
.paragraph--row-4__link-gaming,
.paragraph--row-4__link-smarthome,
.paragraph--row-4__link-devices,
.paragraph--row-4__link-hotDeals {
  color: #fff;
}

.paragraph--login__trigger {
  padding: 0;
  margin: 0;
}

/* Phone View */
@media screen and (max-width: 623px) {
  .paragraph--login__trigger {
    display: none;
  }
}

/* Tablet View */
@media (min-width: 623px) and (max-width: 1007px) {
  .paragraph--login__trigger {
    width: 80px;
  }
}

.paragraph--desktop__header--menu-categories,
.paragraph--desktop__header--menu-brands {
  color: #fff;
  cursor: pointer;
}

.paragraph--desktop__header--slogan {
  padding: 0;
  margin-top: -0.5rem;
  margin-left: 1rem;
}

