.imageElement--desktop__header-1--returns {
  margin-left: 1rem;
}

.logoContainer,
.sizeDestop {
  margin: 0;
  padding: 0;
}

.logoImage,
.lazyLoad {
  margin: 0 1rem;
  padding: 0.1rem;
}

.logoImage--mobile__header--logo {
  margin: 0.5rem 0 0 1rem;
  padding: 0 0 0 0;
}

.imageElement--down-arrow {
  padding: 0;
  margin: 0 0.2rem;
}

.carouselThumbBorder {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.searchBarContainer {
  padding: 0;
  margin: 0;
}

.autoCompleteOuterContainer--desktop__header-3--search-bar
  :global(.vtex-input-prefix__group) {
  padding: 0;
  height: 45px;
}
.autoCompleteOuterContainer--desktop__header-3--search-bar
  :global(.vtex-styleguide-9-x-input) {
  background-color: #e5e5e5;
}

.autoCompleteOuterContainer--desktop__header-3--search-bar
  :global(.vtex-input__suffix) {
  background-color: #e5e5e5;
}

.searchIcon--desktop__header-3--search-bar {
  width: 24px;
  height: 24px;
}

.sellingPriceValue {
  font-size: 1.5rem;
  color: #ff652e;
}

/* Brands */
.imageElement--home__banner--brand {
  filter: grayscale(1);
  margin: 1vw;
  cursor: pointer;
}

.imageElement--home__banner--brand:hover {
  filter: grayscale(0);
}

.imageElement--banner-categories__computers--image {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.imageElement--banner-categories__phones--image {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.imageElement--banner-categories__devices--image {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.imageElement--banner-categories__consoles--image {
  display: block;
  width: 102%;
  /* height: 100%; */
}

.imageElement--banner-categories__bigApliances--image {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.imageElement--banner-categories__computers--image-mobile {
  display: none;
}

.imageElement--banner-categories__phones--image-mobile {
  display: none;
}

/* Phone View */
@media screen and (max-width: 623px) {
  .imageElement--banner-categories__computers--image {
    display: none;
  }
  .imageElement--banner-categories__computers--image-mobile {
    display: block;
  }

  .imageElement--banner-categories__phones--image {
    display: none;
  }
  .imageElement--banner-categories__phones--image-mobile {
    display: block;
  }
}

.imageElement--down-arrow {
  margin-right: 10%;
}

.imageElement--header-1__icon-arrow {
  margin-right: 1%;
}

.imageElement--mobile__header--login {
  margin: 0 2%;
}

.imageElement--mobile__header--location {
  margin: 0 2%;
}

.imageElement--menu__trigger--arrow-image {
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
}

/* Phone View */
@media screen and (max-width: 623px) {
  .imageElement--login__down-arrow {
    margin-left: 30%;
    margin-top: -50%;
    opacity: 0;
  }
}

/* Tablet View */
@media (min-width: 623px) and (max-width: 1007px) {
  .imageElement--mobile__header--login {
    display: none;
  }
}
