.minicartWrapperContainer--desktop__header-3--minicart {
  padding-right: 1rem;
}

.cartIcon {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
}

.openIconContainer {
  padding: 0;
  margin: 0 1rem 0 0;
}

.minicartTitle {
  display: none;
}

.minicartCheckoutButton {
  font-size: 0.875rem;
  padding: 0;
  margin: 0 0.5rem 0 0;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0.875rem;
  /* content: "Ver cesta"; */
  /* visibility: hidden; */
  /* float: left; */
}

.minicartDrawerContent {
  width: 500px;
}