.logoContainer,
.sizeDestop {
  margin: 0;
  padding: 0;
}

.logoImage,
.lazyLoad {
  margin: 0.2rem 1rem;
  padding: 0.2rem;
}

.imageElement--down-arrow {
  padding: 0;
  margin: 0 0.2rem;
}

.carouselThumbBorder {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
/* 
.thumbImg {
  width: 6rem;
  height: 6rem;
}
.carouselGaleryThumbs,
.figure,
.productImagesThumb {
  width: 6rem;
  padding: 0;
} */

.searchBarContainer {
  padding: 0;
}