.headerRowBackground--mobile__header--row-2 {
  background-color: black;
  height: 3rem;
}

.headerRow {
  height: 3rem;
}

.headerRowContentContainer {
  padding: 0 0.5rem 0 0;
  /* margin: 0 0.5rem 0 0; */
}