.logoContainer,
.sizeDestop {
  margin: 0;
  padding: 0;
}

.logoImage,
.lazyLoad {
  margin: 0.2rem 1rem;
  padding: 0.2rem;
}

.logoImage--mobile__header--logo {
  margin: 0.5rem 0 0 1rem;
  padding: 0 0 0 0;
}

.imageElement--down-arrow {
  padding: 0;
  margin: 0 0.2rem;
}

.carouselThumbBorder {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.searchBarContainer {
  padding: 0
}

.sellingPriceValue {
  font-size: 1.5rem;
  color: #ff652e;
}