.link--minicart__header--goToCart {
  background-color: #ff652e;
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ff652e;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.link--minicart__header--keepBuying {
  background-color: #f4f3f3;
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 0.2rem;
  height: 2rem;
  /* padding: 0.5rem; */
  margin-left: 0.5rem;
}