/* .footerLayout {
  background-color: black;
} */

/* .flexColChild {
  justify-content: center;
  margin-left: 1rem;
} */

.flexRow--footer__row-2 {
  background-color: #efefef;
  padding: 1rem;
}

.flexRow--footer__newsletter {
  background-color: #efefef;
  padding: 1rem;
  /* border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc; */
}

.flexRowContent--footer__newsletter {
  background-color: #fff;
  padding: 1rem;
}

.flexCol--newsletter__form {
  padding: 0;
  margin: 0;
  /* border: 1px solid green;
  padding: 2%;
  margin: 0; */
} 

/* .flexColChild--newsletter__form {
  border: 1px solid red;
  padding: 0;
  margin: 0;
} */

/* .flexColChild--newsletter__form :global(.vtex-input-prefix__group) {
  border: 1px solid blue;
  width: 85%;
}

.flexColChild--newsletter__form :global(.vtex-button) {
  margin-left: -2rem;
  width: 120%;
} */

.flexRow--footer__row-2,
.flexRow--footer__row-3,
.flexRow--footer__row-4,
.flexRow--footer__row-5,
.flexRow--footer__row-6 {
  background-color: #efefef;
  padding: 1rem;
}

.flexRowContent--footer__row-5 {
  height: 1.5rem;
}

.flexRow--footer__row-6 {
  background-color: #efefef;
  padding: 1rem 0 1rem 0;
}
